.profile {
    width: 90%;
    max-width: 600px;
    background-color: var(--card-bg);
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 0 20px var(--shadow-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--text-color);
}

.followBtn {
    background: var(--play-btn-bg);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 15px;
    width: 100px;
    height: 40px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.followBtn:hover {
    background: var(--hover-color);
    box-shadow: 0 0 15px var(--hover-color);
}

.friends {
    width: 90%;
    max-width: 1000px;
    margin-top: 20px;
    text-align: center;    
}

.friendList {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.friendCard {
    width: 120px;
    height: 160px;
    background-color: var(--card-bg);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 10px;
    box-shadow: 0 4px 10px var(--shadow-card);
}

.friendCard img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}

.recent-posts {
    width: 90%;
    max-width: 800px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.recent-posts h2{
    text-align: center;
}

.post {
    background-color: var(--card-bg);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 10px var(--shadow-card);
}

.post h4 {
    margin: 0 0 5px 0;
}

.post p {
    margin: 0;
    font-size: 14px;
    color: var(--text-color);
}
